/* feed-item customization */
.feed img.media-object {
    height: 85px;
    width: 65px;
}

.feed .search-icon {
    font-size: 32px;
    margin-right: 32px;
}

/* booklist customization */
.bookList img.media-object {
    height: 68px;
    width: 52px;
}

/* search & upload customization */
.actions .search-action, .actions .sell-action {
    margin-bottom: 25px; 
}

input[id=isbn-upload], input[id=search] {
    width: 200px;
}

/* user-rankings customization */
.user-rankings.panel p {
    text-indent: 25px;
}