/* branding customization */
.branding {
    text-align: center;
    margin-bottom: 10px;
}

/* actions customization */
.search-action, .secondary-action {
    margin-bottom: 25px;
}

.secondary-action .dropdown {
    display: inline;
}

.actions .dropdown button.dropdown-toggle {
    width: 150px;
    margin-right: 25px;
}

.actions .dropdown  .dropdown-menu .submit-button {
    text-align: center;
}

/* activity tab customization */
.activity img.media-object { 
    height: 85px; /* eying the size */
    width: 65px;
}

.activity .search-icon {
    font-size: 32px; /* half the image size */
    margin-right: 16px; /* 32px / 2 */
    margin-left: 16px; /* 32px / 2 */
}

.activity .nav-tabs {
    margin-bottom: 25px;
}

/* booklist tab customization */
.bookList img.media-object {
    height: 68px; /* 20% smaller than an activity image */
    width: 52px;
}

/* searchList tab customization */
.searchList .search-icon {
    font-size: 26px; /* half the image size */
    margin-right: 13px; /* 32px / 2 */
    margin-left: 13px; /* 32px / 2 */
}

.searchList .nav-tabs {
    margin-bottom: 25px;
}

.searchList p {
    font-size: 26px;
}

/* user-rankings customization */
.user-rankings.panel p {
    text-indent: 25px;
}