/* feed-item customization */
img.media-object {
    height: 85px;
    width: 65px;
}

/* search & upload customization */
.actions {
    margin-bottom: 25px; 
}

input[id=isbn-upload], input[id=search] {
    width: 200px;
}

/* user-rankings customization */
.user-rankings.panel p {
    text-indent: 25px;
}